$header-height: 15vh;

.header {
  font-size: 2rem;
  height: $header-height;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../hero.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #fff;
    text-align: center;
  }
}
